body{
    background-color: brown;
    margin:0 auto;
    line-height: 20px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.title-box{
    background-color: white;
    position: absolute;
    z-index: 999;
    padding: 20px;
}

header h1{
    font-size: 80px;
}

header p{
    font-size: 25px;
}

header, h1, p{
    font-family: 'Roboto', sans-serif;
}

/* slider */

div.slides{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(500px * 3);
    animation: glisse 15s infinite ease;
    height: 720px;
}

.slide{
    opacity: 0.5;
}

img{
    width: 1500px;
}

@keyframes glisse{
    
    0%{
        transform: translateX(0);
    }

    10%{
        transform: translateX(0);
    }

    33%{
        transform: translateX(-500px);
    }

    66%{
        transform: translateX(-500px);
    }

    100%{
        transform: translateX(0);
    }
}

